<!DOCTYPE html>
<html>
<head>
  <title>Share Your Thoughts</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="shareYourThoughts">

	<main class="container">
		<div class="row">
			<ui-view></ui-view>
		</div>
	</main>

	<%= javascript_include_tag 'application' %>

</body>
</html>
