<form ng-submit="addPost()" name="postForm" class="form-horizontal" novalidate>
  <div class="form-group form-group-lg">
    <label for="content" class="col-xs-12 col-sm-offset-3 col-sm-6">Share your thoughts:</label>
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <textarea class="form-control input-lg" rows="3" cols="80" ng-model="myPost.content" id="content" placeholder="What are you thinking?" required></textarea>
    </div>
  </div>

  <div class="col-xs-12 col-sm-offset-3">
    <button type="submit" class="btn btn-primary" ng-disabled="postForm.$invalid">Share</button>
  </div>
</form>

<div>
  &nbsp;
</div>

<div class="row">
  <!-- Live preview -->
  <blockquote class="box-quote col-xs-12 col-sm-offset-2 col-sm-9" ng-show="postForm.$valid && postForm.$dirty">
    {{myPost.content}}
    <footer>
      <div class="btn-group" role="group">
        <button class="btn btn-default btn-like" ng-click="upvotePost(post)"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
        <button class="btn btn-default btn-like">{{myPost.upvotes}}</button>
      </div>
    </footer>
  </blockquote>

  <div ng-repeat="post in posts | orderBy:'-created_at'">
    <blockquote class="box-quote col-xs-12 col-sm-offset-2 col-sm-9">
      {{post.content}}
      <footer>
        {{ post.created_at | date:"MMM. d, y 'at' h:mm a" }}
        <div class="btn-group" role="group">
          <button class="btn btn-default btn-like" ng-click="upvotePost(post)"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
          <button class="btn btn-default btn-like">{{post.upvotes}}</button>
        </div>
      </footer>
    </blockquote>
  </div>
</div>

